name: Java CI with Gradle

on:
  pull_request:
    branches: [ "main" ]
  merge_group:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
      with:
        egress-policy: audit

    - name: Checkout
      uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4
    - name: Set up Java
      uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9 # v4
      with:
        java-version: '17'
        distribution: 'corretto'
    - name: Build with Gradle
      uses: gradle/gradle-build-action@fe59895742b4f984530980e4f693943577526b61 # v3.2.0
      with:
        arguments: build
